# Ansible
*.retry

# Direnv
/.direnv
.envrc.local

# Nix
result
result-*

# C/C++
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Rust
**/*.rs.bk
*.pdb
debug/
target/

# Zig
zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/

# Node.js
/build
/dist
/out
.cache/
.docusaurus
.eslintcache
.grunt/
.lock-wscript
.next/
.node_repl_history
.npm/
.nuxt/
.nyc_output
.serverless/
.temp
.tern-port
*.tsbuildinfo
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
bower_components/
jspm_packages/
node_modules/
web_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# JetBrains
.idea/

# Emacs
*.elc
*_flymake.*
*~
.\#*
.dir-locals.el
.projectile
\#*\#
auto-save-list
flycheck_*.el
tramp

# Vim
!*.svg
*~
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# macOS quirks
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd

# Project specific files
/pidproxy
/pidproxy.upx
